src/main/mule/main-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" >
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <flow name="mainFlow">
        <http:listener doc:name="HTTP Listener" config-ref="HTTP_Listener_config" path="/hello"/>
        <logger level="INFO" doc:name="Logger" message="Received request"/>
        <set-payload value="#[output application/json --- { message: 'Hello from Mule!' }]" doc:name="Set Payload"/>
    </flow>

</mule>
